
PORT=8080

POSTGRES_HOST=localhost
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=dbname
POSTGRESQL_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_ACCESS_TOKEN_EXPIRATION=5
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_REFRESH_TOKEN_EXPIRATION=1440

ALLOWED_ORIGINS=http://localhost:3000

ENVIRONMENT=local